@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/*** Resets ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

// ## Colors
// ### Primary

$cyan: hsl(180, 66%, 49%);
$cyan-hover: hsl(179, 56%, 75%);
$dark-violet: hsl(257, 27%, 26%);

// ### Secondary -
$red: hsl(0, 87%, 67%);
// ### Neutral

$light-gray: hsl(230, 23%, 95%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-violet: hsl(260, 8%, 14%);
$very-dark-blue: hsl(255, 11%, 22%);
// ## Typography
$font-stack: Poppins,
sans-serif;
$font-size: 18px;

:root {
  --light-gray: #{$light-gray};
  --gray: #{$gray};
  --grayish-violet: #{$grayish-violet};
  --very-dark-violet: #{$very-dark-violet};
  --very-dark-blue: #{$very-dark-blue};

  --padding: 36px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

.debug * {
  outline: 1px solid red;
}

[hidden] {
  display: none;
}

ul {
  list-style: none;
}

/** CUSTOM **/

a {
  color: $grayish-violet;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    transition: all 0.25s ease-out 0s;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  /* button cyan */
  background: $cyan;
  border-radius: 28px;
  padding: 0;

  font-weight: bold;
  color: #ffffff;
  cursor: pointer;


  &:hover,
  &.hover {
    background: $cyan-hover;
    transition: all 0.25s ease-out 0s;
  }

  &.copied {
    background: $dark-violet;
  }
}

.link-btn.lg {
  /* Rectangle 34 */
  width: 197px;
  height: 56px;

  /* button text big */

  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: -0.05em;
}

.link-btn.sm {
  width: 105px;
  height: 40px;

  font-size: 15px;
  line-height: 22px;
}

.btn-btn {
  border: none;
  outline: none;
}

.btn-btn.lg {
  width: 188px;
  height: 64px;
  border-radius: 10px;

  font-size: 20px;
  line-height: 30px;
}

.btn-btn.sm {
  width: 103px;
  height: 40px;

  font-size: 15px;
  line-height: 22px;
  border-radius: 5px;
}

body {
  font: 100% $font-stack;
  color: $grayish-violet;
  min-height: 100vh;
}

header {
  max-width: 1110px;
  margin: 0 auto;
  padding: 48px 0;
  padding-left: var(--padding);
  padding-right: var(--padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 46px;
    flex: 1;
    transition: all 0.3s ease;

    .nav-links {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-around;

      li {
        margin-right: 32px;

        a {
          &:hover {
            color: $very-dark-violet;
          }
        }
      }
    }

    .signup-actions {
      display: flex;
      margin-left: auto;
      align-items: center;

      .login {
        &:hover {
          color: $very-dark-violet;
        }
      }

      .sign-up {
        margin-left: 36px;
      }
    }
  }

  .burger {
    display: none;
    width: min-content;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;

    &.toggle .line1 {
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    &.toggle .line2 {
      opacity: 0;
    }

    &.toggle .line3 {
      transform: rotate(45deg) translate(-6px, -6px);
    }

    // padding: 6px;
    .line {
      width: 24px;
      height: 3px;
      background-color: $grayish-violet;
      margin: 3px 0;
      transition: all 0.3s ease;
    }

    &:hover .line {
      background-color: $dark-violet;
      transition: all 0.25s ease-in;
    }
  }
}

main {
  background-color: $light-gray;

  .intro {
    background-color: white;
    padding-bottom: 154px;

    .intro-wrapper {
      max-width: 1110px;
      margin: 0 auto;
      padding-left: var(--padding);
      padding-right: var(--padding);
      display: flex;
      align-items: center;
      overflow-x: hidden;
      position: relative;

      .intro-content {
        max-width: 100%;
        width: 565px;
        // margin-left: 85px;
        // width: 50%;
        // flex: 1;

        h1 {
          color: $very-dark-blue;
          // width: 565px;
          font-style: normal;
          font-weight: bold;
          font-size: 80px;
          line-height: 90px;
          letter-spacing: -2px;
        }

        p {
          font-size: 22px;
          letter-spacing: 0.2px;
          line-height: 154%;
        }

        .get-started {
          margin: 2rem 0;
        }
      }

      .illustration-wrapper {
        position: relative;
        /* width: 100%; */
        margin-right: -790px;
        // z-index: 2;
        // float: left;


        .illustration {
          // position: absolute;
          // position: relative;
          // max-width: none;
          // height: 482px;
          // right: -30px;
          display: block;
        }
      }
    }

    .illustration-wrapper-desktop {
      position: relative;
      width: 30%;
      margin-left: 30px;

      .illustration {
        // position: absolute;
        position: relative;
        max-width: none;
        height: 482px;
        // right: -30px;
      }
    }
  }

  .shortener {
    padding-left: var(--padding);
    padding-right: var(--padding);

    max-width: 1110px;
    margin: 0 auto;

    .form {
      display: flex;
      padding: 52px 64px;
      border-radius: 12px;
      background-color: $dark-violet;
      background-image: url(./images/bg-shorten-desktop.svg);
      background-repeat: no-repeat;
      // transform: translateY(-50%);
      margin-top: -84px;
      margin-bottom: 24px;

      label {
        position: relative;
        width: 100%;

        display: flex;
        flex: 1;
        // background:transparent;
        // padding: 0 32px;

        .url-input {
          font-size: 20px;
          width: 100%;
          height: 64px;
          color: $very-dark-violet;
          outline: none;
          border-radius: 8px;
          // border: 2px solid $red;
          // background-color: transparent;
          border: none;
          padding: 0 32px;
          transition: border-color 0.2s ease-in;

          &:required,
          &:valid {
            border: 1px solid $grayish-violet;
          }

          &.is-invalid {
            border: 2px solid $red;

            &::placeholder {
              color: $red;
            }
          }

          &:focus:invalid {
            border: 1px solid $grayish-violet;
          }
        }

        .error-msg {
          display: none;
          position: absolute;
          bottom: -32px;
          left: 0;
          color: $red;
          font-style: italic;

          &.is-invalid {
            display: block;
          }
        }
      }

      .submit-btn {
        margin-left: 24px;
      }
    }

    .url-list {
      display: flex;
      flex-direction: column;

      .url-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;

        p {
          flex: 1;
          font-size: 20px;
          letter-spacing: 0.2px;
          color: $dark-violet;
        }

        a {
          color: $cyan;
          font-size: 20px;
        }

        .copy-btn {
          margin-left: 24px;
        }
      }
    }
  }

  .statistics {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 104px;
    padding-left: var(--padding);
    padding-right: var(--padding);

    &-header {
      h2 {
        font-size: 38px;
        font-weight: 700;
        color: $dark-violet;
        text-align: center;
        margin-bottom: 12px;
      }

      p {
        font-size: 18px;
        line-height: 180%;
        /* or 32px */
        text-align: center;
        letter-spacing: 0.17px;

        margin-bottom: 53px;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      gap: 30px;
      align-items: start;
      margin-bottom: 120px;

      .card {
        position: relative;
        background-color: #fff;
        padding: 45px 32px 40px;
        border-radius: 8px;

        .card-icon {
          position: absolute;
          top: -45px;
          background-color: $dark-violet;
          border-radius: 50%;
          // padding: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90px;

          height: 90px;
        }

        h4 {
          font-size: 22px;
          font-weight: bold;
          color: $dark-violet;
          margin: 30px 0 10px auto;
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 26px;
        }

        &:nth-child(2) {
          margin-top: 45px;
        }

        &:nth-child(3) {
          margin-top: 90px;
        }

        &:nth-child(1)::after {
          top: 150px;
          // right: -19px;
          // left: auto;
          // transform: rotateZ(90deg);
          // height: 30px;
        }

        &:nth-child(2)::after {
          top: 105px;
          // right: -19px;
          // left: auto;
          // transform: rotateZ(90deg);
          // height: 30px;
        }

        &:not(:last-child)::after {
          position: absolute;
          content: "";
          background-color: $cyan;
          width: 30px;
          height: 8px;
          right: -30px;
          // height: 47px;
          // left: 50%;
          // top: 100%;
          // transform: translateX(-50%);
        }
      }
    }
  }

  .boost {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-color: $dark-violet;
    background-image: url(./images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      font-weight: bold;
      font-size: 42px;
      line-height: 63px;
      /* identical to box height */

      text-align: center;
      letter-spacing: -0.05em;

      color: #ffffff;
    }
  }
}

footer {
  background-color: $very-dark-violet;

  .footer-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    padding-top: 70px;
    padding-bottom: 104px;
    padding-left: var(--padding);
    padding-right: var(--padding);

    .logo {}

    .nav-footer {
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

      // grid-template-columns: repeat(3, minmax(120px, 1fr));
      .nav-links {
        li {
          &:first-child {
            margin-bottom: 21px;

            a {
              color: white;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              /* identical to box height */
              letter-spacing: -0.015em;
            }
          }

          margin-bottom: 9px;

          a {
            color: $grayish-violet;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
            letter-spacing: -0.05em;

            &:hover {
              color: $cyan;
            }
          }
        }
      }
    }

    .social-icons {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding-left: 80px;

      a {
        color: white;

        &:hover {
          color: $cyan;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    // overflow-x: hidden;
  }

  header {
    padding: 40px 24px 24px;
    position: relative;

    .burger {
      display: flex;
    }

    nav {
      position: absolute;
      background-color: $dark-violet;
      margin: 0;
      top: 100%;
      // top: 96px;
      // height: calc(100vh - 96px);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: calc(100% - 48px);
      // width: 100%;
      // width: 327px;
      // height: 383px;
      border-radius: 10px;
      padding: 38px 24px;
      // transform: translateX(100%);
      // transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      opacity: 0;
      pointer-events: none;
      z-index: 2;

      a {
        font-size: 19px;
        line-height: 28px;
        /* identical to box height */
        letter-spacing: -0.035em;
        color: #ffffff;
      }

      .nav-links {
        flex-direction: column;
        border-bottom: 1px solid $grayish-violet;
        width: 100%;

        li {
          margin: 0 0 28px 0;
        }
      }

      .signup-actions {
        width: 100%;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .login {
          margin-top: 28px;
        }

        .sign-up {
          margin: 0;
          margin-top: 24px;
          width: 100%;
          height: 48px;

          font-size: 19px;
          line-height: 28px;
          /* identical to box height */
          letter-spacing: -0.035em;
          color: #ffffff;
        }
      }

      &.nav-active {
        opacity: 3;
        pointer-events: all;
      }

    }
  }

  main {
    .intro {
      .intro-wrapper {
        position: unset;
        flex-direction: column;
        flex-flow: column-reverse;
        // padding: 33  7px 24px 0;
        overflow: hidden;

        .intro-content {
          width: 100%;
          text-align: center;
          margin-top: 40px;

          h1 {
            width: 100%;
            font-size: 40px;
            line-height: 123.5%;
            /* or 49px */
            letter-spacing: normal;
            text-align: center;
            margin-bottom: 10px;
          }

          p {
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.01em;
            margin-bottom: 30px;
          }
        }

        .illustration-wrapper {
          width: 100%;
          margin: 0;
          // position: relative;
          // overflow-x: hidden;

          .illustration {
            position: relative;
            // position: absolute;
            height: 337px;
            // width: 498px;
            // top: 0;
            /* padding-left: 24px; */
            /* overflow: hidden; */

            max-width: none;
            // left: 24px;
          }
        }
      }
    }

    .shortener {
      padding: 0 24px;

      .form {
        flex-direction: column;
        background-image: url(./images/bg-shorten-mobile.svg);
        background-position: top right;
        padding: 24px;

        label {
          flex: auto;
          position: unset;
          flex-direction: column;

          .url-input {
            height: 48px;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
            letter-spacing: 0.01em;
            padding: 0 16px;
          }

          .error-msg {
            position: unset;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */
            letter-spacing: 0.01em;
            margin-top: 4px;
          }
        }

        .submit-btn {
          margin: 16px 0 0 0;
        }
      }

      .url-list {
        .url-item {
          flex-direction: column;
          align-items: inherit;
          min-width: 0;

          p {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            /* identical to box height */
            letter-spacing: -0.005em;
            font-weight: normal;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-bottom: 1px solid $gray;
            padding-bottom: 8px;
          }

          .url-link {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            /* identical to box height */
            letter-spacing: -0.005em;
            font-weight: normal;
            margin: 8px 0;
          }

          .copy-btn {
            width: 100%;
            margin: 0;
          }
        }
      }
    }

    .statistics {
      padding: 64px 24px;

      &-header {
        h2 {
          font-size: 28px;
          line-height: 42px;
          /* identical to box height */

          letter-spacing: -0.5px;
        }

        p {
          font-size: 16px;
          line-height: 27px;

          letter-spacing: 0.015em;
        }
      }

      .cards {
        grid-auto-columns: auto;
        grid-template-columns: auto;
        gap: 48px;
        margin-bottom: 80px;

        .card {
          .card-icon {
            left: 50%;
            transform: translateX(-50%);
          }

          h4 {
            text-align: center;
            color: $very-dark-blue;
          }

          p {
            text-align: center;
          }

          &:not(:last-child)::after {
            width: 48px;
            left: 50%;
            top: auto;
            bottom: -28px;
            transform: translateX(-50%) rotate(90deg);
          }

          &:nth-child(3) {
            margin-top: 45px;
          }
        }
      }
    }

    .boost {
      background: url(./images/bg-boost-mobile.svg) no-repeat cover $dark-violet;
      height: 300px;

      h2 {
        font-size: 28px;
        line-height: 42px;
        /* identical to box height */

        letter-spacing: -0.8px;
      }
    }
  }

  footer {
    padding: 0 24px;

    .footer-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 0;

      .logo {
        text-align: center;
        padding: 56px 0;
      }

      .nav-footer {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .social-icons {
        margin: 36px auto;
        padding: 0;
        width: 50%;
      }
    }
  }

  .btn-btn.lg {
    // font-size: 20px;
    // line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.05em;

    width: 100%;
    height: 48px;
    border-radius: 5px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  :root {
    --padding: 24px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  :root {
    --padding: 24px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  :root {
    --padding: 24px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  :root {
    --padding: 36px;
  }
}