@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/*** Resets ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --light-gray: #eff0f5;
  --gray: #bfbfbf;
  --grayish-violet: #9e9aa7;
  --very-dark-violet: #232127;
  --very-dark-blue: #35323e;
  --padding: 36px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

.debug * {
  outline: 1px solid red;
}

[hidden] {
  display: none;
}

ul {
  list-style: none;
}

/** CUSTOM **/
a {
  color: #9e9aa7;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  transition: all 0.25s ease-out 0s;
}

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* button cyan */
  background: #2acfcf;
  border-radius: 28px;
  padding: 0;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover, .btn.hover {
  background: #9ce3e2;
  transition: all 0.25s ease-out 0s;
}
.btn.copied {
  background: #3b3054;
}

.link-btn.lg {
  /* Rectangle 34 */
  width: 197px;
  height: 56px;
  /* button text big */
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: -0.05em;
}

.link-btn.sm {
  width: 105px;
  height: 40px;
  font-size: 15px;
  line-height: 22px;
}

.btn-btn {
  border: none;
  outline: none;
}

.btn-btn.lg {
  width: 188px;
  height: 64px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
}

.btn-btn.sm {
  width: 103px;
  height: 40px;
  font-size: 15px;
  line-height: 22px;
  border-radius: 5px;
}

body {
  font: 100% Poppins, sans-serif;
  color: #9e9aa7;
  min-height: 100vh;
}

header {
  max-width: 1110px;
  margin: 0 auto;
  padding: 48px 0;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 46px;
  flex: 1;
  transition: all 0.3s ease;
}
header nav .nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
header nav .nav-links li {
  margin-right: 32px;
}
header nav .nav-links li a:hover {
  color: #232127;
}
header nav .signup-actions {
  display: flex;
  margin-left: auto;
  align-items: center;
}
header nav .signup-actions .login:hover {
  color: #232127;
}
header nav .signup-actions .sign-up {
  margin-left: 36px;
}
header .burger {
  display: none;
  width: min-content;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
}
header .burger.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
header .burger.toggle .line2 {
  opacity: 0;
}
header .burger.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
header .burger .line {
  width: 24px;
  height: 3px;
  background-color: #9e9aa7;
  margin: 3px 0;
  transition: all 0.3s ease;
}
header .burger:hover .line {
  background-color: #3b3054;
  transition: all 0.25s ease-in;
}

main {
  background-color: #eff0f5;
}
main .intro {
  background-color: white;
  padding-bottom: 154px;
}
main .intro .intro-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}
main .intro .intro-wrapper .intro-content {
  max-width: 100%;
  width: 565px;
}
main .intro .intro-wrapper .intro-content h1 {
  color: #35323e;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
}
main .intro .intro-wrapper .intro-content p {
  font-size: 22px;
  letter-spacing: 0.2px;
  line-height: 154%;
}
main .intro .intro-wrapper .intro-content .get-started {
  margin: 2rem 0;
}
main .intro .intro-wrapper .illustration-wrapper {
  position: relative;
  /* width: 100%; */
  margin-right: -790px;
}
main .intro .intro-wrapper .illustration-wrapper .illustration {
  display: block;
}
main .intro .illustration-wrapper-desktop {
  position: relative;
  width: 30%;
  margin-left: 30px;
}
main .intro .illustration-wrapper-desktop .illustration {
  position: relative;
  max-width: none;
  height: 482px;
}
main .shortener {
  padding-left: var(--padding);
  padding-right: var(--padding);
  max-width: 1110px;
  margin: 0 auto;
}
main .shortener .form {
  display: flex;
  padding: 52px 64px;
  border-radius: 12px;
  background-color: #3b3054;
  background-image: url(./images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  margin-top: -84px;
  margin-bottom: 24px;
}
main .shortener .form label {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
}
main .shortener .form label .url-input {
  font-size: 20px;
  width: 100%;
  height: 64px;
  color: #232127;
  outline: none;
  border-radius: 8px;
  border: none;
  padding: 0 32px;
  transition: border-color 0.2s ease-in;
}
main .shortener .form label .url-input:required, main .shortener .form label .url-input:valid {
  border: 1px solid #9e9aa7;
}
main .shortener .form label .url-input.is-invalid {
  border: 2px solid #f46262;
}
main .shortener .form label .url-input.is-invalid::placeholder {
  color: #f46262;
}
main .shortener .form label .url-input:focus:invalid {
  border: 1px solid #9e9aa7;
}
main .shortener .form label .error-msg {
  display: none;
  position: absolute;
  bottom: -32px;
  left: 0;
  color: #f46262;
  font-style: italic;
}
main .shortener .form label .error-msg.is-invalid {
  display: block;
}
main .shortener .form .submit-btn {
  margin-left: 24px;
}
main .shortener .url-list {
  display: flex;
  flex-direction: column;
}
main .shortener .url-list .url-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
main .shortener .url-list .url-item p {
  flex: 1;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #3b3054;
}
main .shortener .url-list .url-item a {
  color: #2acfcf;
  font-size: 20px;
}
main .shortener .url-list .url-item .copy-btn {
  margin-left: 24px;
}
main .statistics {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 104px;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
main .statistics-header h2 {
  font-size: 38px;
  font-weight: 700;
  color: #3b3054;
  text-align: center;
  margin-bottom: 12px;
}
main .statistics-header p {
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  text-align: center;
  letter-spacing: 0.17px;
  margin-bottom: 53px;
}
main .statistics .cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 30px;
  align-items: start;
  margin-bottom: 120px;
}
main .statistics .cards .card {
  position: relative;
  background-color: #fff;
  padding: 45px 32px 40px;
  border-radius: 8px;
}
main .statistics .cards .card .card-icon {
  position: absolute;
  top: -45px;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}
main .statistics .cards .card h4 {
  font-size: 22px;
  font-weight: bold;
  color: #3b3054;
  margin: 30px 0 10px auto;
}
main .statistics .cards .card p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
}
main .statistics .cards .card:nth-child(2) {
  margin-top: 45px;
}
main .statistics .cards .card:nth-child(3) {
  margin-top: 90px;
}
main .statistics .cards .card:nth-child(1)::after {
  top: 150px;
}
main .statistics .cards .card:nth-child(2)::after {
  top: 105px;
}
main .statistics .cards .card:not(:last-child)::after {
  position: absolute;
  content: "";
  background-color: #2acfcf;
  width: 30px;
  height: 8px;
  right: -30px;
}
main .boost {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: var(--padding);
  padding-right: var(--padding);
  background-color: #3b3054;
  background-image: url(./images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .boost h2 {
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
}

footer {
  background-color: #232127;
}
footer .footer-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  padding-top: 70px;
  padding-bottom: 104px;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
footer .footer-wrapper .nav-footer {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
footer .footer-wrapper .nav-footer .nav-links li {
  margin-bottom: 9px;
}
footer .footer-wrapper .nav-footer .nav-links li:first-child {
  margin-bottom: 21px;
}
footer .footer-wrapper .nav-footer .nav-links li:first-child a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: -0.015em;
}
footer .footer-wrapper .nav-footer .nav-links li a {
  color: #9e9aa7;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: -0.05em;
}
footer .footer-wrapper .nav-footer .nav-links li a:hover {
  color: #2acfcf;
}
footer .footer-wrapper .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-left: 80px;
}
footer .footer-wrapper .social-icons a {
  color: white;
}
footer .footer-wrapper .social-icons a:hover {
  color: #2acfcf;
}

@media screen and (max-width: 768px) {
  header {
    padding: 40px 24px 24px;
    position: relative;
  }
  header .burger {
    display: flex;
  }
  header nav {
    position: absolute;
    background-color: #3b3054;
    margin: 0;
    top: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 48px);
    border-radius: 10px;
    padding: 38px 24px;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
  }
  header nav a {
    font-size: 19px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.035em;
    color: #ffffff;
  }
  header nav .nav-links {
    flex-direction: column;
    border-bottom: 1px solid #9e9aa7;
    width: 100%;
  }
  header nav .nav-links li {
    margin: 0 0 28px 0;
  }
  header nav .signup-actions {
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  header nav .signup-actions .login {
    margin-top: 28px;
  }
  header nav .signup-actions .sign-up {
    margin: 0;
    margin-top: 24px;
    width: 100%;
    height: 48px;
    font-size: 19px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.035em;
    color: #ffffff;
  }
  header nav.nav-active {
    opacity: 3;
    pointer-events: all;
  }

  main .intro .intro-wrapper {
    position: unset;
    flex-direction: column;
    flex-flow: column-reverse;
    overflow: hidden;
  }
  main .intro .intro-wrapper .intro-content {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  main .intro .intro-wrapper .intro-content h1 {
    width: 100%;
    font-size: 40px;
    line-height: 123.5%;
    /* or 49px */
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
  }
  main .intro .intro-wrapper .intro-content p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
  }
  main .intro .intro-wrapper .illustration-wrapper {
    width: 100%;
    margin: 0;
  }
  main .intro .intro-wrapper .illustration-wrapper .illustration {
    position: relative;
    height: 337px;
    /* padding-left: 24px; */
    /* overflow: hidden; */
    max-width: none;
  }
  main .shortener {
    padding: 0 24px;
  }
  main .shortener .form {
    flex-direction: column;
    background-image: url(./images/bg-shorten-mobile.svg);
    background-position: top right;
    padding: 24px;
  }
  main .shortener .form label {
    flex: auto;
    position: unset;
    flex-direction: column;
  }
  main .shortener .form label .url-input {
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.01em;
    padding: 0 16px;
  }
  main .shortener .form label .error-msg {
    position: unset;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.01em;
    margin-top: 4px;
  }
  main .shortener .form .submit-btn {
    margin: 16px 0 0 0;
  }
  main .shortener .url-list .url-item {
    flex-direction: column;
    align-items: inherit;
    min-width: 0;
  }
  main .shortener .url-list .url-item p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    /* identical to box height */
    letter-spacing: -0.005em;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 8px;
  }
  main .shortener .url-list .url-item .url-link {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    /* identical to box height */
    letter-spacing: -0.005em;
    font-weight: normal;
    margin: 8px 0;
  }
  main .shortener .url-list .url-item .copy-btn {
    width: 100%;
    margin: 0;
  }
  main .statistics {
    padding: 64px 24px;
  }
  main .statistics-header h2 {
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */
    letter-spacing: -0.5px;
  }
  main .statistics-header p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
  main .statistics .cards {
    grid-auto-columns: auto;
    grid-template-columns: auto;
    gap: 48px;
    margin-bottom: 80px;
  }
  main .statistics .cards .card .card-icon {
    left: 50%;
    transform: translateX(-50%);
  }
  main .statistics .cards .card h4 {
    text-align: center;
    color: #35323e;
  }
  main .statistics .cards .card p {
    text-align: center;
  }
  main .statistics .cards .card:not(:last-child)::after {
    width: 48px;
    left: 50%;
    top: auto;
    bottom: -28px;
    transform: translateX(-50%) rotate(90deg);
  }
  main .statistics .cards .card:nth-child(3) {
    margin-top: 45px;
  }
  main .boost {
    background: url(./images/bg-boost-mobile.svg) no-repeat cover #3b3054;
    height: 300px;
  }
  main .boost h2 {
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */
    letter-spacing: -0.8px;
  }

  footer {
    padding: 0 24px;
  }
  footer .footer-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
  }
  footer .footer-wrapper .logo {
    text-align: center;
    padding: 56px 0;
  }
  footer .footer-wrapper .nav-footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
  footer .footer-wrapper .social-icons {
    margin: 36px auto;
    padding: 0;
    width: 50%;
  }

  .btn-btn.lg {
    /* identical to box height */
    letter-spacing: -0.05em;
    width: 100%;
    height: 48px;
    border-radius: 5px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --padding: 24px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --padding: 24px;
  }
}
@media (max-width: 991.98px) {
  :root {
    --padding: 24px;
  }
}
@media (min-width: 1200px) {
  :root {
    --padding: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
